.SearchResults {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  padding: 0.88rem 0.88rem;
  background-color: #1E1E20;
}

.action-button {
  background-color: #282828; /* Dark gray */
  color: #fff;
  border: 1px solid #1db954; /* Spotify green border */
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-buttons-mobile {
  display: none;
}

.action-button:hover {
  background-color: #1db954; /* Spotify green */
  color: #fff;
}

.action-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-button.clear {
  /* background-color: #ff5252; Red for clear button */
  border: 1px solid #ff5252; /* Red border for clear button */
}

.action-button.clear:hover {
  background-color: #ff7070; /* Lighter red for hover */
}

@media (max-width: 768px) {
  .action-buttons {
    display: none;
  }

  .action-buttons-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .action-button {
    margin-bottom: 0px;
  }
}