.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);



  .Track:hover {
    background: #800080;
    color: #FFFFF0;
    cursor: pointer;
  }


  .Track-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0 0.25rem;
    border: 1px solid #C5C6C7;
    background-color: #C5C6C7;
    color: rgba(0, 0, 0, 1);
    font-size: 1.5rem;
    transition: all 0.25s ease-in-out;
    min-width: 2.5rem; /* Add this property to ensure the width of the preview button */
  }

  .Track-action:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .Track-action::before {

    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
  }

  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 60px); /* Subtract the width of Track-action and Track-preview */
    margin-left: 10px;
    word-wrap: break-word; /* Add this property to allow wrapping of long titles */
  }


  .Track-information h3 {
    margin-bottom: .22rem;
  }

  .Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: white;
  }

  .spotifyLogo-small {
    width: auto;
    height: 1.5rem;
    margin-right: 10px;
  }

  .playButton {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: transparent;
    background-color: transparent;
    color: white;
    margin-right: 10px;
  }

  @media screen and (max-width: 600px) {


    .Track-action {

      width: 2rem;
      height: 2rem;
      min-width: 2rem; /* Add this property to ensure the width of the preview button */
      min-height: 2rem;

    }

    .Track-hover {
      background: transparent;
    }

    .playButton {
      font-size: .75rem;
      margin-right: 10px;
      padding: 0.1rem;
    }
  }
}