.Track-information .genre {
  font-size: 0.85rem; /* Adjusted font size for better visibility */
  font-weight: 500; /* Increased weight for emphasis */
  color: #ffd700; /* Changed color for distinctiveness */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; /* Added bottom margin for spacing */
  background-color: rgba(
    128,
    0,
    128,
    0.2
  ); /* Added background color for distinction */
  padding: 2px 4px; /* Added padding for better text readability */
  border-radius: 4px; /* Rounded corners for a smoother look */
  display: inline-block; /* Ensures background color wraps text */
}
