
html {
  font-size: 1.125rem;
}

h1 {
  padding: 1rem 0;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  color: #fff;
  margin-left: 1rem;
}

h1 .highlight {
  color: #BCB967;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  min-height: 100vh;
  padding: 0 2%;
  background-color: #303133;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  margin-left: 15rem; /* add this */
}

.Fetching-sign{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;

}

.App-playlist {
  display: block;
}

.feedback {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: .33rem .33rem 1rem;
  color: white;
  text-decoration: none;
  font-size: .9rem;

}

.feedback:hover {
  color: lightgrey;
}

.Sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 15rem;
  background: linear-gradient(to bottom, #3B3142, #1D1721);
}

.Sidebar button{
  cursor: pointer;
  width: 85%;
  padding: .5rem 0rem .6rem 1.5rem;
  text-align: left;
  font-family: sans-serif;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: white;
  margin-top: 0.5rem;
  margin-left: 7.5%;
  border-radius: 6px;
}

.Sidebar button:hover{
  background:#D3D3D3 ;
  color: black;
}

.Sidebar img{
  width: 40%;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
}

.Navigator {
  display: none;
}

@media only screen and (min-width: 1020px) {
  .App-playlist {
    display: flex;
    justify-content: space-between;
  }

}

@media screen and (max-width: 600px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .NowPlaying {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1D1721;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .NowPlaying .SongInfo {
    display: flex;
    flex-direction: column;
  }

  .NowPlaying .PlaybackControls {
    display: flex;
    align-items: center;
  }

  .NowPlaying .PlaybackControls button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 1rem;
  }

  .NowPlaying .ProgressTracker {
    flex-grow: 1;
    padding: 0 1rem;
  }

  .NowPlaying .ProgressTracker input[type="range"] {
    width: 100%;
  }
}

 .App {
    margin-left: 0;
   padding: 0.1% 4% 10% 4%;
  }

  h1 {
    padding: 2% 2%;
    text-align: center;
    font-size: 0.5rem;
  }

  .Sidebar {
    display: none;
  }

  .feedback {
    display: none;

  }

  .Navigator{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2%;
    width: 90%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1%;
    padding-top: 1%;
    background: #1D1721;
    box-shadow: 0px 4px 20px #3B3142;
    border-radius: 50px;
  }

  .Navigator button{
    cursor: pointer;
    width: 47%;
    padding: 3%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    border: none;
    color: white;
    background: transparent;
    border-radius: 50px;
  }

  .Navigator button.active{

    background: #BCB967;
    color: black;
  }

  .App-playlist {
    margin-top: 2rem;
  }

  /* New CSS classes for 'Logged in as __' section and user avatar */
  .loggedIn {
    font-size: 1rem;
    color: #fff;
    margin-left: 1rem;
  }

  .userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
  }

}
