.SearchBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.SearchBar input {
  width: 80%;
  padding: .7rem 7rem .7rem 1.5rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  margin-right: 20%;
  color: #010c3f;
  text-align: left;
  font-size: .9rem;
  position: relative;
  z-index: 1;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar input:hover::placeholder {
  color: green;
}

.SearchBar button {
  position: absolute;
  cursor: pointer;
  padding: .71rem 2.5rem .71rem 2.5rem;
  margin-right: 20%;
  border-radius: 0 2rem 2rem 0;
  background-color: lightgrey;
  text-align: right;
  font-size: .9rem;
  transition: background-color .25s;
  border: 1rem;
  color: #000000;
  font-weight: 500;
  z-index: 2;
}

.SearchBar button:hover {
  background-color: darkgray;
}

@media screen and (max-width: 600px) {
  .SearchBar {
    align-items: center;
    justify-content: end;
    margin-bottom: 2rem;
  }

  .SearchBar input {
    width: 100%;
    padding: .7rem 0 .7rem 1.5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    margin-right: 0;
    color: #010c3f;
    text-align: left;
    font-size: .9rem;
  }

  .SearchBar button {
    padding: .71rem 1.5rem;
    margin: 0%;
  }
}
