.Playlist {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  padding: 0.88rem 0.88rem;
  background-color: #1E1E20;
}

.Playlist-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

}

.regenerate-button {
  background-color: rgba(29, 185, 84, 0.8);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.regenerate-button:hover {
  background-color: rgba(29, 185, 84, 1);
}

.playlist-name{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items:center;
  margin-bottom: 10px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.edit-playlist-name {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding: 5px;
  color: white;
  transition: border-bottom-color 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.edit-playlist-name:hover,
.edit-playlist-name:focus {
  border-bottom-color: lightgray;
  animation: fadeIn 0.3s ease-out;
}

.edit-playlist-name::selection {
  background-color: rgba(29, 185, 84, 0.5); /* Spotify green with 50% opacity */
  color: white; /* Text color when highlighted */
}

.playlist-name p {
  font-size: 2rem;
}

.Playlist-album {
  width: 6.875rem;
  height: auto;
}

.small-icon{
  font-size: 10px;
}

.edit-button {
  cursor:pointer;
}

.Playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1rem;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  margin-top: 0.3rem;
  border-radius: 54px;
  border-width: 0px;
  background-color: #1db954;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Playlist-save:hover {
  background-color: #1ed760;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.spotifyLogo{
  width: 3.125rem;
  height: auto;
  margin-left: 0.7rem;
  margin-right: 0rem;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .Playlist {
    align-items: center;
    margin-top: 1rem;

  }

  .Playlist-album {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .Playlist input {
    width: 100%;
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
  }

  .Playlist-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    margin-top: 0rem;
    padding: 0rem;
  }
  .Playlist-album img {
    width: 50%;
  }

  .Playlist-save{
    text-align: center;
  }
}

.Playlist-album-container {
  position: relative;
  cursor: pointer;
}

.Playlist-album {
  display: block;
  width: 6.875rem;
  height: auto;
  object-fit: cover;
}

.Playlist-album-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Playlist-album-container:hover .Playlist-album-overlay {
  opacity: 1;
}

.Playlist-album-overlay span {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}